firebase-admin>=5.0.0
pyrebase4==4.8.0
requests==2.11.1
gcloud==0.18.3
oauth2client==4.1.2
pycryptodome==3.6.4
requests-toolbelt==0.7.1
streamlit
PyPDF2
langchain
langchain-community
openai
faiss-cpu
python-dotenv
forex-python
plotly
pandas
numpy
fpdf
textblob
matplotlib
wordcloud
seaborn
requests
beautifulsoup4
yfinance
pytrends
scikit-learn
gensim
nltk
firebase-admin
pydantic
camelot-py[cv]
pymupdf
streamlit-option-menu

